@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@layer base {
  .nav-item {
    @apply rounded-full px-4 py-1.5 text-sm font-semibold text-white/70 transition duration-300 hover:bg-white/10 hover:text-white;
  }
  .selected-nav-item {
    @apply pointer-events-none bg-white text-gray-900;
  }
  .hero-glow-ring {
    @apply absolute left-1/2 top-1/2 z-10 -translate-x-1/2 -translate-y-1/2 rounded-full border-2 border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }
  .center-abs-obj {
    @apply left-1/2 top-1/2 z-10 -translate-x-1/2 -translate-y-1/2;
  }
  .secondary-text-color {
    @apply text-white/40;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-green-400 to-sky-500 bg-clip-text text-transparent;
  }
  .gradient-bg {
    @apply bg-gradient-to-r from-green-400 to-sky-500;
  }
  .tape-mask-edges {
    @apply [mask-image:linear-gradient(to_right,transparent,black_10%,black_90%,transparent)];
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}
